#cornflowerblue {
    background-color: cornflowerblue;
}
#blue {
    background-color: #2d4cb1;
}
#red {
    color: red;
}
#blue {
    color: blue;
}
#white {
    background-color: white;
}
#darkblue {
    color: #1000a0fe;
}
#style1 {
    font-size: 20px;
    color: red;
}
#style2 {
    font-size: 150px;
}